.card-section {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 17%;
    background: transparent
  }
  .wrapper {
    width: 100%;
    margin-top: 5%;
    background: linear-gradient(
    to top,
    #e27253 0%,
    #e27253 50%,
    transparent 50%,
    transparent 100%
  );
  }
  .wrapper h1 {
    font-size: 15px;
  }