.navigation-menu {
  height: 100%;
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}
.navigation-menu h1 {
  font-size: 11px;
  color: rgb(154, 154, 154);
  padding-left: 0px;
}
.navigation-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  margin: 0;
}
.navigation-menu li {
  font-size: 12px;
  list-style-type: none;
  text-decoration: none;
  float: left;
  margin: 0 1rem;
}
