header {
    position: flex;
    width:100%;
    height: 60px;
    background-color: transparent;
    flex-direction: row;
    margin-left: auto;
  }
  header div{
    position: flex;
    float: right;
  }
  header button{
    background-color: transparent;
  }
  .sidebar {
    position: absolute;
    top: 60px;
    right: -15vw;
    height: 100%;
    width: 15vw;
    transition: left 0.3s ease-in-out;
    background-color: #888;
  }
  .sidebar-toggle {
    position: absolute;
    top: 20%;
    width: 100px;
    z-index: 1;
  }
  .content {
    position: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: right 0.3s ease-in-out;
    background-color: #888;
    
  }
  .sidebar.open {
    right: 0;
    top: 0;
  }
  .content.open {
    left: 15vw;
  }
  .float{
    position:absolute;
    width:60px;
    height:60px;
    top:0px;
    right:0px;
    background-color:transparent;
    color:#FFF;
  }
  