.navigation-menu {
  height: auto;
  width: 100%;
  margin-left: 0%;
  display: fixed;
  flex-direction: column;
}
.navigation-menu h1 {
  font-size: 10%;
  color: white;
  padding-left: 0px;
  margin: 0;
}
.navigation-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  margin: 0;
}
span h1{
  text-align: left;
  margin-right: 100px;
}
span {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: 70%;
  list-style-type: none;
  text-decoration: none;
  float: left;
  margin: 0;
}
