.sidebar {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 16vw;
  transition: right 1s ease-in-out;
  background-color: #292929;
  overflow-y: scroll;
}
.sidebar.open {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}
.sidebar-style {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}